body {
    background: #EEEEEE;
}

#post_field {
    position: relative;
    width: 607px;
    height: 1481px;
    left: 417px;
    margin-top: 60px;
}

#post_title {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: relative;
    width: 459px;

    font-family: Museo Cyrl;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 128%;
    /* or 41px */

    letter-spacing: -0.416667px;

    color: #315AF2;

    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: flex-start;
}

#post_img {
    position: relative;
    margin-top: 24px;
    width: 607px;
    height: 320px;

    background: #34888D;
    border-radius: 12px;

    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/*#post_img img {
    width: 100%;
    height: 100%;
}*/

#post_content {
    position: relative;
    width: 540px;
    margin-top: 24px;

    font-family: Circe Rounded;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 128%;
    /* or 22px */


    color: #404040;


    /* Inside Auto Layout */

    flex: none;
    order: 4;
    align-self: flex-start;
}

h1 {
    font-family: Circe Rounded;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    letter-spacing: -0.416667px;

    color: #404040;
}

hr {
    width: 180px;
    size: 2px;
    background: #404040;
    margin-top: 46px;
    margin-bottom: 46px;
}

blockquote {
    width: 408px;
    margin: 44px 99.5px 44px 99.5px;
    font-family: Circe Rounded;
    font-size: 24px;
    line-height: 28px;
    /* or 117% */

    display: flex;
    align-items: center;
    letter-spacing: -0.416667px;

    color: #404040;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
}

blockquote:before {
    position: static;
    width: 25px;

    content: "«";
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */


    color: #404040;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: flex-start;
    margin-right: 20px;
}

blockquote:after {
    position: static;
    width: 25px;

    content: "»";
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    /* identical to box height, or 72px */


    color: #404040;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: flex-end;
    margin-left: 20px;
}
